* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgba(241, 178, 120, 0.699);
}

:root {
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "s s"
  "d n";
  width: 70%;
  max-width: 80rem;
  margin: 0 auto;
  row-gap: 1rem;
  overflow: hidden;
  filter: drop-shadow(0.1rem 0.25rem 0.3rem rgba(51, 50, 50, 0.6));
  align-items: center;
}

.slider {
  grid-area: s;
  display: flex;
  width: 400%;
  height: 100%;
  margin-top: 4rem;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.wrapper input {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.slide {
  width: 25%;
  transition: all 0.5s ease;
}

.slider_nav {
  grid-area: n;
  display: flex;
  justify-self: flex-end;
  width: 13rem;
  justify-content: space-between;
  z-index: 2;
}

.pointer {
  display: inline-block;
  /* position: relative; */
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(241, 104, 50);
  border: 0.35rem solid rgb(241, 104, 50);
  cursor: pointer;
  transition: all 0.4s ease;
}

.pointer:hover {
  background-color: rgb(247, 224, 215);
  border: 0.35rem solid rgb(247, 224, 215);
  opacity: 0.8;
}

#s1:checked ~ .slider_nav label:nth-child(1),
#s2:checked ~ .slider_nav label:nth-child(2),
#s3:checked ~ .slider_nav label:nth-child(3),
#s4:checked ~ .slider_nav label:nth-child(4) {
	background-color: transparent !important;
}

#s1:checked ~ .slider .sl1 {
  margin-left: 0;
}
#s2:checked ~ .slider .sl1 {
  margin-left: -25%;
}
#s3:checked ~ .slider .sl1 {
  margin-left: -50%;
}
#s4:checked ~ .slider .sl1 {
  margin-left: -75%;
}

.slider_description {
  grid-area: d;
  width: 45rem;
  overflow: hidden;
}

.text_wrapper {
  width: 400%;
  display: flex;
  /* position: relative; */
  justify-self: flex-end;
  overflow: hidden;
}

.text {
  display: block;
  width: 80%;
  font-size: 2.2rem;
  transition: all 0.6s ease;
  overflow: hidden;
}
